/* -------CSS RESET------- */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* -------STYLING-------*/

body {
    font-family: 'Libre Baskerville', serif;
    width: 75%;
    max-width: 60%;
    margin: auto;
    background: #FDF3E7;
    color: #333;
    line-height: 1.8em;
    background-size: 100%;
    
}

header h2 {
    font-style:italic;
    font-size: 2em;
    color: #3B3738;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    margin-bottom: 14px;
}

header h1 {
    font-style:normal;
    font-size: 5em;
    margin-top: 0.3em;
    margin-left: .3em;
    color: #3B3738;
    text-align: center;
    line-height: 1.2em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}
.kern {
    letter-spacing: -1.8px;
}
.amp {
    font-size: 1.2em;
}

h2, {
    font-weight: normal;
    font-size: 2.25em;
    color: #3D5459;
    text-align: center;
}

/* -------TYPOGRAPHY------- */
p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

p{
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: em;
    margin-top: em;
    margin-bottom: em;
    margin-left: 0em;
    line-height: em;

}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    color: #fff;
}

blockquote p{
    font-family: 'Libre Baskerville', serif;
}
.cite {
    float: right;
}
blockquote {
    padding: 1 em 0 4em 0;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #7E8F7C;
    hanging-punctuation: first;
    text-indent: -.5em;
}
blockquote cite {
    font-size: 0.75em;
}

/* -------LINKS------*/
a {
    color: #6F6E64;
    text-decoration: none;
}
a hover {
    color: #006341;
    border-bottom: 1px dotted;
}

/*-----sections-----*/
section {
    margin-top: 2em;
    padding-bottom: 1em;
    }

head {
    background: #006341;
}

/* -------NAVIGATION------- */

nav {
    margin-bottom: 1em;
    background-color: #EE743B;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
}

a {
    color: #1B1A17;
    text-decoration: none;
    transition: all .15s ease-in;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li { 
    display: inline;
    margin: 10px;
}

nav a:hover {
    border-bottom: none;
    color: #FEFAEE;
}

/* -------IMAGES------- */
img {
    display: auto;
    margin: 1em;
    max-width: 100%;
    
}
#zuzana {
    border-radius: 49%;
    border: 1.2px groove #3B3738;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    max-width: 24%;
    margin: auto;
    display: block;
    margin-bottom: 3.2em;
    margin-top: 1.9em;
    background-size: 200%;
}

#logo {
    width: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

#cover {
    width: 25.5%;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

#mac {
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

#gui {
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

#eaves {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

/*container*/
#early-life {
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 140%;
}

#emigre {
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 170%;
    float: right;
    text-align: right;
}

#introduction {
    text-align: center;
    padding-top: 1.05em;
    margin-bottom: 0.7em;
    font-style: italic;
    font-size: 3em;
    font-weight: 500;
}
#macintosh {
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 140%;
}

#mrs-eaves {
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 140%;
    float: right;
    text-align: right;
}
#typefaces {
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 140%;
    float: center;
}
#awards {
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 140%;
    float: right;
    text-align: right;
}

#my-opinion{
    background-color: none;
    padding: 0.2em 0 0;
    border-top: 15px solid #EE743B;
    width: 140%;
    float: center;
}

/* -------TABLE------- */
table{
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    padding: 0em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

caption{
    margin-bottom: 1.3em;
    text-transform: ;
    line-height: 1.5em;
}

th {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #D48361;
}
th, td {
    padding: .6em;
}

}
td {
    font-style: italic;
}

th {
    font-weight: bold;
    font-stretch: expanded;
}

table, td {
    background: #E6E6E6;
    border: 1px solid #FDF3E7;
}

/*------FOOTER-----*/
footer {
    background-color: #EE743B;
    width: 100%;
    padding: 10px
}

li {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    color: #fff;
}

#bib {
    font-size: 3em;
}
